# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# Data files
data/chest_xray/train/
data/chest_xray/test/
data/chest_xray/val/

# Saved models

# Log files
*.log

# Output files
*.h5
*.keras

# Temporary files
*.tmp
*.temp

# Other files
*.DS_Store       # macOS
*.db             # Database files
*.csv            # CSV files if they contain sensitive data
*.json           # JSON files if they contain sensitive data
