<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Image Classifier</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Upload a Chest X-Ray Image</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
